<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="img/favicon.png" rel="icon">

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/vmdicon.png" />


</head>

<body>

    <div id="login-page">
        <div class="container">
            <form class="form-login" action="index.html">
                <h2 class="form-login-heading"><img src="vmd.png" style="height: 25px;"></h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="User ID" autofocus>
                    <br>
                    <input type="password" class="form-control" placeholder="Password">
                    <br>
                    <hr>
                    <button class="btn btn-theme btn-block" href="#" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                    <hr>
                </div>

            </form>
        </div>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("4.gif", {
            speed: 100

        });
    </script>
</body>

</html>