<%- include("../partials/header"); -%>

    <section id="main-content">
        <section class="wrapper">



            <div class="row mt">
                <div class="col-lg-13">
                    <div class="custom-box">
                        <% if (msg !== ""){%>
                            <div class="alert alert-success"><b>Désole! &nbsp;</b>
                                <%=msg%>.</div>
                            <%}%>

                                <h3 style="text-align: center;">Ajouter Navire</h3>
                    </div>
                    <div class="form-panel">


                        <div class=" form">
                            <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="/navire/ajouter">
                                <br>
                                <div class="form-group ">
                                    <label for="cname" class="control-label col-lg-2" style="font-size: medium;"> ID </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" name="id_nav" type="text" required />
                                    </div>
                                </div>
                                <br>

                                <div class="form-group ">
                                    <label for="cemail" class="control-label col-lg-2" style="font-size: medium;">NA </label>
                                    <div class="col-lg-5">
                                        <input class="form-control " id="cemail" type="text" name="NA" required />
                                    </div>
                                </div>
                                <br>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">ID_VMS </label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="ID_VMS" required />
                                    </div>
                                </div>
                                <br>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">REG_ID </label>
                                    <div class="col-lg-5">
                                        <input class="form-control " id="curl" type="text" name="REG_ID" required />
                                    </div>
                                </div>
                                <br>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">IMEI </label>
                                    <div class="col-lg-5">
                                        <input class="form-control " id="curl" type="text" name="IMEI" required />
                                    </div>
                                </div>
                                <br>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">ICCID </label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="ICCID" required />
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">RC </label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="RC" required />
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">KEY_AES</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="KEY_AES" required />
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">DABEG</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="DABEG" required />
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="curl" class="control-label col-lg-2" style="font-size: medium;">DAEND</label>
                                    <div class="col-lg-10">
                                        <input class="form-control " id="curl" type="text" name="DAEND" required />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-16">

                                    </div>
                                </div>

                                <div class="custom-box">
                                    <h3 style="text-align: center;">
                                        <button class="btn btn-theme" type="submit" style="font-size: medium;">Enregistrer</button>
                                        <a href="/home" class="btn btn-theme04" type="button" style="font-size: medium;">Annuler</a>
                                    </h3>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

    <%- include("../partials/footer"); -%>