<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMD solutions</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/vmdicon.png" />


    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet">


</head>

<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right"></div>
            </div>
            <a href="/home" class="logo"><img style="height: 25px;"></a>
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <li id="header_notification_bar" class="dropdown">
                        <a class="dropdown-toggle" href="/meteo/meteo">
                            BMS
                            <span id = "clignot" class="badge bg-warning"><i class="fa fa-warning"></i></span>
                        </a>
                    </li>
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning">7</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow"> 7 notifications</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span> SOS.
                                    <span class="small italic">4 mins.</span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span> Memory #2 Not Responding.
                                    <span class="small italic">30 mins.</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="#">Logout <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </header>

        <aside>

            <div id="sidebar" class="nav-collapse ">

                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered">
                        <a href="#"><img src="img/download.png" class="img-circle" width="80"></a>
                    </p>
                    <h5 class="centered">Username</h5>


                    <li>
                        <a href="/home">
                            <i class="fa fa-desktop"></i>
                            <span>Aujourd'hui </span>
                        </a>
                    </li>

                    <li>
                        <a href="/map">
                            <i class="fa fa-map-marker"></i>
                            <span>Map </span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-anchor"></i>
                            <span>Navires</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/navire/navires">Tous Les Navires</a></li>
                            <li><a href="/navire/ajouter">Ajouter Navire</a></li>
                            <li><a href="/navire/ajouter">Picker</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-cloud"></i>
                            <span>Meteo</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/meteo/meteo">Meteo d'aujourd'hui</a></li>
                            <li><a href="/meteo/historique">Historique</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="#">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Statistique</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/statistique/totalSOS">Statistique des SOS</a></li>
                            <li><a href="/statistique/totalBMS">Statistique des BMS</a></li>
                            <li><a href="/statistique/totalPREV">Statistique des PREV</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-gears"></i>
                            <span>Paramétres</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/configuration">Parametre du map</a></li>
                            <li><a href="/configuration">Parametre du compte</a></li>
                            <li><a href="/configuration">Parametre 3</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </aside>
    </section>

    <script>
        var timer = setInterval(function() {
            const clignotte = document.getElementById('clignot');
            clignotte.classList.toggle('hidden')
        }, 800)
    </script>