<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMD solutions</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/vmdicon.png" />
    <link href="/css/navbar.css" rel="stylesheet">
    <link type="text/css" rel='stylesheet' href="/css/jquery.notify.css" />
    <script type="text/javascript" src="/js_Style/jquery.min.js"></script>
    <script type="text/javascript" src="/js_Style/jquery.notify.min.js" defer></script>
    <style>
        .divDisplay {
            display: none;
        }
    </style>
</head>

<body>
    <section id="container">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips notClicked" data-placement="right" id="buttonBar"></div>
            </div>
            <a href="/home" class="logo"><img src="/vmd.png" style="height: 25px;"></a>
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">

                    <li id="header_notification_bar" class="dropdown">
                        <a class="dropdown-toggle" href="/meteo/meteo">
                            BMS 
                            <span id = "clignot" class="badge bg-warning"><i class="fa fa-warning"></i></span>
                        </a>
                    </li>

                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-bell-o"></i>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow"> Tous les notifications</p>
                            </li>
                            <li>
                                <a href="/home/SOSNotif/">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span> Les notifications des SOS.
                                </a>
                            </li>
                            <li>
                                <a href="/home/PositionNotif/">
                                    <span class="label label-warning"><i class="fa fa-bell"></i></span> Les notifications des Positions
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
        </header>

        <aside>

            <div id="sidebar" class="nav-collapse ">

                <ul class="sidebar-menu" id="nav-accordion">
                    <br><br>
                    <p class="centered">
                        <a href="/change-data"><img src="/user.png" class="img-circle" width="80"></a>
                    </p>
                    <% user.forEach(element => { %>
                        <h5 class="centered">
                            <%= element.NOM%>
                                <%= element.PRENOM%>
                        </h5>
                        <% });%>


                            <br><br>

                            <li>
                                <a href="/home">
                                    <i class="fa fa-desktop"></i>
                                    <span>Aujourd'hui </span>
                                </a>
                            </li>

                            <li class="sub-menu">
                                <a href="#">
                                    <i class="fa fa-map-marker"></i>
                                    <span>Map</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/map/">Map</a></li>
                                    <li><a href="/map/navireAujourdhui">Les positions d'aujourd'hui</a></li>
                                    <li><a href="/map/mapTracking">Historique des positions</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    <span>Navires</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/navire/navires">Tous Les Navires</a></li>
                                    <li><a href="/navire/ajouter">Ajouter Navire</a></li>
                                    <li><a href="/navire/picker">Picker</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">
                                    <i class="fa fa-cloud"></i>
                                    <span>Meteo</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/meteo/meteo">Meteo d'aujourd'hui</a></li>
                                    <li><a href="/meteo/historiqueMeteo">Historique</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">
                                    <i class=" fa fa-bar-chart-o"></i>
                                    <span>Statistiques</span>
                                </a>
                                <ul class="sub">
                                    <li><a href="/statistique/totalSOS">SOS</a></li>
                                    <li><a href="/statistique/totalBMS">BMS</a></li>
                                    <li><a href="/statistique/totalPREV">PREV</a></li>
                                </ul>
                            </li>

                            <li class="sub-menu">
                                <a href="#">
                                    <i class="fa fa-gears"></i>
                                    <span>Paramétres</span>
                                </a>
                                <ul class="sub">
                                    <% user.forEach(element => { %>
                                        <%if (element.ADMIN === 1){ %>
                                            <li><a href="/register">Creer un autre compte</a></li>
                                            <li><a href="/manage-accounts">paramétre des utilisateurs</a></li>
                                            <%}%>
                                                <% });%>


                                                    <li><a href="/change-data">Modifier informations</a></li>
                                </ul>
                            </li>

                </ul>
            </div>
        </aside>
    </section>

    <script>
        var url = "http://127.0.0.1:3000/home/BMSApiNotification";
        fetch(url)
            .then(async(resp) => await resp.json())
            .then(async function(data) {
                var BMSNotif = await data
                if (BMSNotif['BMS'] === 0) {
                    var LI_Display = document.getElementById('header_notification_bar')
                    LI_Display.setAttribute('style', 'display:none')
                    var timer = setInterval(function() {
                        const clignotte = document.getElementById('clignot');
                        clignotte.classList.toggle('hidden')
                    }, 800)
                }

            })

        // function notifAll(messago, titlo, img = 'n1.png', typo = 'info', delayo, autoHido = false, closeBtno = false, overlayo = false, posH = "left", posV = "bottom") {
        //     notify({
        //         type: typo, //alert | success | error | warning | info
        //         title: titlo,
        //         message: '',
        //         position: {
        //             x: posH, //right | left | center
        //             y: posV //top | bottom | center
        //         },
        //         icon: '<img src="../img/' + img + '.png" />', //<i>
        //         size: "normal", //normal | full | small
        //         overlay: overlayo, //true | false
        //         closeBtn: closeBtno, //true | false
        //         overflowHide: false, //true | false
        //         spacing: 20, //number px
        //         theme: "default", //default | dark-theme
        //         autoHide: autoHido, //true | false
        //         delay: delayo, //number ms
        //         onShow: null, //function
        //         onClick: null, //function
        //         onHide: null, //function
        //         template: '<div class="notify"><div class="notify-text"></div></div>'
        //     });
        // }
        function notifAll(messago, titlo, ico = '<i class="fa-solid fa-paper-plane"></i>', typo = 'info', delayo, autoHido = false, closeBtno = false, overlayo = false, posH = "left", posV = "bottom") {
            notify({
                type: typo, //alert | success | error | warning | info
                title: titlo,
                message: messago,
                position: {
                    x: posH, //right | left | center
                    y: posV //top | bottom | center
                },
                //icon: '<i class="'+ico+'"></i>',//<i>
                icon: ico, //<i>
                size: "normal", //normal | full | small
                overlay: overlayo, //true | false
                closeBtn: closeBtno, //true | false
                overflowHide: false, //true | false
                spacing: 20, //number px
                theme: "default", //default | dark-theme
                autoHide: autoHido, //true | false
                delay: delayo, //number ms
                onShow: null, //function
                onClick: null, //function
                onHide: null, //function
                template: '<div class="notify" style="right: 15px"><div class="notify-text"></div></div>'
            });
        }


        function notifAPI() {
            var notifDIV = document.querySelectorAll('.notify')
            if (notifDIV.length > 0) {
                for (var i = 0; i <= notifDIV.length - 1; i++) {
                    notifDIV[i].remove()
                }
            }
            var date = new Date();

            var url = 'http://127.0.0.1:3000/home/notificationAPI'

            fetch(url)
                .then((resp) => resp.json())
                .then(async function(data) {
                    var dataAPI = await data

                    dataAPI.forEach(notif => {

                        if ((notif['TM'] === 'DIs') || (notif['TM'] === 'DIS')) {
                            notifAll('', notif['NA'] + ' a envoyer une SOS ' + notif['TI'][0] + notif['TI'][1] + ':' + notif['TI'][2] + notif['TI'][3], '<i class="fa fa-warning"></i>', 'error', 5000, false, true, false, "right", "bottom");
                        }
                        if (notif['TM'] === 'POS') {
                            notifAll('', notif['NA'] + ' a envoyer une Position ' + notif['TI'][0] + notif['TI'][1] + ':' + notif['TI'][2] + notif['TI'][3], '<i class="fa fa-location-arrow">', 'success', 5000, false, true, false, "right", "bottom");
                        }

                    });

                });

        }

        var notVar = notifAPI();
        //a fair >> clear all befor app interval

        var intervalnotVar = setInterval(notifAPI, 180000); // Will alert every X second.
    </script>