<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMD solutions</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/vmdicon.png" />


</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 p404 centered">
                <img src="404.png" alt="">
                <h1>Erreur !!</h1>
                <h3>Désole page introuvable .</h3>
                <br>
                <br>
                <h5 class="mt">Voici le lien pour retourner a la page initial :</h5>
                <p><a href="/home">Home</a></p>
            </div>
        </div>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>