<%- include("partials/header"); -%>


    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <div class="col-sm-18">
                    <section class="panel">

                        <div class="panel-body">
                            Page parametre
                        </div>


                    </section>
                </div>
            </div>

        </section>
    </section>






    <%- include("partials/footer"); -%>