<%- include("partials/header"); -%>
    <style>
        #map {
            height: 800px;
        }
    </style>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <script src="/leaflet/leaflet.js"></script>

    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <div class="col-sm-18">
                    <section class="panel">

                        <div class="panel-body">
                            <div id="map"></div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <script src="js/mapConfig.js"></script>






    <%- include("partials/footer"); -%>