<%- include("../partials/header"); -%>
    <style>
        #map {
            height: 850px;
        }
    </style>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />

    <link rel="stylesheet" href="../leaflet/leaflet.css">
    <link rel="stylesheet" href="../css/buttonOnOff.css">
    <script src="../leaflet/leaflet.js"></script>

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="row mb">
                        <div class="content-panel">
                            <div id="map" style="position: fixed;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 ds bar" id="bar">
                    <div class='centered'>
                        <h4 class="centered mt ">Recherche specifique</h4>
                        <br>
                    </div>

                    <div class='centered'>
                        <h5>Navire</h5>
                        <select class="form-control" id="navireSelect">
                            <option id="IDVMS_select" value="choisir">Choisir une navire</option>
                        </select>

                        <h5>Début</h5>
                        <input type="date" lang="fr-CA" value="" id="rechercheDate1" name="date1" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

                        <h5>Fin</h5>
                        <input type="date" lang="fr-CA" value="" id="rechercheDate2" name="date2" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                        <h5 class="centered mt"><button type="submit" id="rechercheFormSpecifique" class="btn btn-warning btn-lg btn-block">Recherche</button></h5>
                    </div>
                    <br>
                    <div class='centered'>
                        <h4>Les navires d'aujourd'hui</h4>

                    </div>


                    <div class="notificationBarVisibility" id="navireInfo" style="background-color: bisque;">

                        <!-- formulaire pour la recherche par une seule date  -->
                        <hr>
                        <div class='centered'>
                            <span><h4 id="navireName">Aucune Navire</h4><h6 id="IDVMS_Navire">.....</h6></span>
                            <i id="iconNavire" class="fa fa-angle-double-down" style="font-size:25px;"></i>
                        </div>


                        <!-- formulaire pour recherche entre deux dates -->
                        <div id="affichage" class="displayDiv">
                            <div class='centered'>
                                <hr>
                                <h4 class="centered mt ">Filtrer</h4>
                                <label class="switch">
                                    <input type="checkbox" class="onoff" value="Off" id="onoff">
                                    <span class="slider round"></span>
                                </label>

                            </div>
                            <div class="centered displayDiv" id="filterDiv">
                                <h5>Début</h5>
                                <input type="date" lang="fr-CA" value="" id="date1" name="date1" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                <h5>Fin</h5>
                                <input type="date" lang="fr-CA" value="" id="date2" name="date2" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

                                <div class='centered'>
                                    <br>
                                    <h5 class="centered mt"><button class="btn btn-warning btn-lg btn-block" id="buttonClickFormulaire">Recherche</button></h5>
                                </div>
                            </div>
                            <hr>


                            <!-- formulaire pour recherche par une requete -->
                            <div>
                                <div class='centered'>
                                    <h4 class="centered mt">SOS</h4>
                                    <i id="iconSOS" style="font-size:25px;" class="fa fa-angle-double-down"></i>
                                    <div class="displayDiv" id="affichageSOS">
                                        <h5 id="SOSData">Aucune SOS</h5>
                                    </div>
                                </div>

                            </div>
                            <hr>

                            <div>
                                <div class='centered'>
                                    <h4 class="centered mt">Infractions</h4>
                                    <i style="font-size:25px;" id="iconInfraction" class="fa fa-angle-double-down"></i>
                                    <div class="displayDiv" id="affichageInfraction">
                                        <h5 id="Infraction">Aucune infraction</h5>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div>
                                <div class='centered'>
                                    <h4 class="centered mt">ACKV</h4>
                                    <i style="font-size:25px;" id="iconAckv" class="fa fa-angle-double-down"></i>
                                    <div class="displayDiv" id="affichageACKV">
                                        <h5 id="ACKv">Aucune ACKV</h5>
                                    </div>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                </div>

        </section>
    </section>

    <script src="../js/mapConfig.js"></script>

    <script>
        function pickerConfig(recherche) {
            var month, day

            // la date d'aujourd'hui
            var currentDate = new Date()

            // tester la validation du mois
            if (currentDate.getMonth().toString().length === 1) {
                month = '0' + (currentDate.getMonth() + 1)
            } else {
                month = currentDate.getMonth() + 1
            }


            // tester la validation du journee
            if (currentDate.getDate().toString().length === 1) {
                day = '0' + currentDate.getDate()
            } else {
                day = currentDate.getDate()
            }


            // changer la format de la date 
            currentDate = currentDate.getFullYear() + '-' + month + '-' + day



            // initialisation de la premiere recherche par date 
            recherche.value = currentDate
        };

        // les date de la recherche spécifique
        var recherche1 = document.getElementById('rechercheDate1')
        pickerConfig(recherche1);
        var recherche2 = document.getElementById('rechercheDate2')
        pickerConfig(recherche2);

        // les dates de la recherche par filtre
        var date1 = document.getElementById('date1')
        pickerConfig(date1);
        var date2 = document.getElementById('date2')
        pickerConfig(date2);
    </script>
    <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>




    <%- include("../partials/footer"); -%>