<%- include("../partials/header"); -%>
    <script type="text/javascript" src="/PrevFormatWeb.json"></script>
    <script type="text/javascript" src="/deep-search-javascript-object.js"></script>
    <style>
        .teste {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 10px solid red;
            margin-top: 20px;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>


    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="row content-panel">
                        <div class="col-md-4 profile-text mt mb centered">

                        </div>
                        <div class="col-md-4 profile-text">
                            <br>
                            <h1>
                                La Meteo d'aujourd'hui
                            </h1>
                            <h5 id="Today">
                                La date d'ajourd'hui
                            </h5>

                            <br>
                        </div>
                    </div>
                </div>
                <br><br>
                <!-- <div class="col-lg-12 mt">
                    <div class="row content-panel">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a data-toggle="tab" href="#overview">
                                        <h3>Prévision</h3>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="overview" class="tab-pane active">
                                    <div class="row" style="margin: inherit!important;">
                                        <div id="table1"> </div>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row mt">

                <div class="col-lg-12 mt">
                    <div class="row content-panel">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a data-toggle="tab" href="#overview">
                                        <h3>BMS</h3>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="overview" class="tab-pane active">
                                    <div class="row" style="margin: inherit!important;">
                                        <div id="table"></div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>


        </section>



    </section>

    <script type="text/javascript">
        // var mydata = JSON.parse(weatherINM);

        // var date = new Date(); // today
        // var Entete = ' ';
        // var Lang = 1;
        // var num = ' N° ';
        // var UTC = ' UTC ';
        // var DateTimeTran = ' ';
        // console.log(mydata[16]["Zone231"])

        // if (mydata[1]["Zone231"].echeance_id == "apres") {
        //     // dataMeteorologie = mydata[0]["BMS"].meteorologie_Fr;
        //     Entete = '<span > Bulletin Météorologique Spécial du </span>';
        //     Lang = 0;
        //     DateTimeTran = ' du ';

        // }
        // console.info(mydata[0]["Zone231"].echeance_id)
        // if (mydata[1]["Zone231"].echeance_id == "بعد الظهر" || mydata[1]["Zone231"].echeance_id == "بعد الظهر" || mydata[1]["Zone231"].echeance_id == "ليلا") {
        //     document.getElementById("table").style.direction = "rtl";
        //     // dataMeteorologie = mydata[0]["BMS"].meteorologie_Ar;
        //     Entete = '<span > النشرة الجوية الخاصة ليوم </span>';
        //     Lang = 1;
        //     num = ' رقم ';
        //     UTC = ' بالتوقيت العالمي ';
        //     DateTimeTran = ' ليوم ';
        //     // mydata[0]["BMS"].validite_transition = ' على الساعة  '
        //     // mydata[0]["BMS"].validite_transition2 = ' على الساعة  '
        // }
        // if (mydata[1]["Zone231"].echeance_id == "after") {
        //     // dataMeteorologie = mydata[1]["BMS"].meteorologie_An;
        //     Entete = '<span > Special Weather Report of </span>';
        //     Lang = 2;
        //     DateTimeTran = ' of ';

        // }

        // var list = [
        //     ['Avis de', 'Heure de référence', 'Heure de validité', 'Début de validité', 'Fin de validité', 'Zones menacées', 'Éléments météorologies', 'Phénomène générateur et évolution'],
        //     ['إعلام برياح قوية', 'إتجاه الريح', 'قوة الريح (بالعقدة)', 'هبوب الريح (بالعقدة)', 'البحر', 'إرتفاع الموج (بالمتر)', 'إتجاه الموج', 'الرؤية', 'الطقس'],
        //     ['Notice of', 'Reference time', 'Validity Hour', 'Beginning of validity', 'End of validity', 'Threatened Areas', 'Weather elements', 'Generative phenomenon and evolution']
        // ];


        // var html = '<p align="center"><b>' + mydata[0]["Zone231"].zone_marine + ' | ' + mydata[0]["Zone231"].date_prevision + '<b><br><p>';
        // //////////////////////////////////////////////////////////////////////
        // html += '<table id="timetable" style="width:60%;">';
        // html += '<tr><th colspan="2">' + mydata[0]["Zone231"].echeance_id.toUpperCase() + '</th></tr>';

        // html += '<tr><td>' + list[Lang][0] + '</td>';
        // html += '<td style="width:68%;">' + mydata[0]["Zone231"].status + '</td></tr>';

        // html += '<tr><td>' + list[Lang][1] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].vent_direction_de + ' ' + mydata[0]["Zone231"].vent_direction_a + '</td></tr>';

        // html += '<tr><td>' + list[Lang][2] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].vent_force1 + ' - ' + mydata[0]["Zone231"].vent_force2 + ' ' + mydata[0]["Zone231"].vent_force_libelle + ' ' + mydata[0]["Zone231"].vent_force3 + ' - ' + mydata[0]["Zone231"].vent_force4 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][3] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].vent_rafale + '</td></tr>';

        // html += '<tr><td>' + list[Lang][4] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].mer_etat_1 + ' ' + mydata[0]["Zone231"].mer_etat_transition1 + ' ' + mydata[0]["Zone231"].mer_etat_2 + ' ' + mydata[0]["Zone231"].mer_etat_transition2 + ' ' + mydata[0]["Zone231"].mer_etat_3 + ' ' + '</td></tr>';

        // html += '<tr><td>' + list[Lang][5] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].vague_h_siginificatif_1 + ' - ' + mydata[0]["Zone231"].vague_h_siginificatif_2 + ' ' + mydata[0]["Zone231"].vague_h_siginificatif_3 + ' ' + mydata[0]["Zone231"].vague_h_siginificatif_4 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][6] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].direction_houle_1 + ' ' + mydata[0]["Zone231"].direction_houle_2 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][7] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].visibilite_de + ' ' + mydata[0]["Zone231"].visibilite_transition + ' ' + mydata[0]["Zone231"].visibilite_a + '</td></tr>';

        // html += '<tr><td>' + list[Lang][8] + '</td>';
        // html += '<td>' + mydata[0]["Zone231"].temps + '</td></tr>';

        // //////////////////////////////////////////////////////////////////////
        // html += '<tr><td> </td>';

        // html += '<tr><th colspan="2">' + mydata[1]["Zone231"].echeance_id.toUpperCase() + '</th></tr>';

        // html += '<tr><td>' + list[Lang][0] + '</td>';
        // html += '<td style="width:68%;">' + mydata[1]["Zone231"].status + '</td></tr>';

        // html += '<tr><td>' + list[Lang][1] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].vent_direction_de + ' ' + mydata[1]["Zone231"].vent_direction_a + '</td></tr>';

        // html += '<tr><td>' + list[Lang][2] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].vent_force1 + ' - ' + mydata[1]["Zone231"].vent_force2 + ' ' + mydata[1]["Zone231"].vent_force_libelle + ' ' + mydata[1]["Zone231"].vent_force3 + ' - ' + mydata[1]["Zone231"].vent_force4 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][3] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].vent_rafale + '</td></tr>';

        // html += '<tr><td>' + list[Lang][4] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].mer_etat_1 + ' ' + mydata[1]["Zone231"].mer_etat_transition1 + ' ' + mydata[1]["Zone231"].mer_etat_2 + ' ' + mydata[1]["Zone231"].mer_etat_transition2 + ' ' + mydata[1]["Zone231"].mer_etat_3 + ' ' + '</td></tr>';

        // html += '<tr><td>' + list[Lang][5] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].vague_h_siginificatif_1 + ' - ' + mydata[1]["Zone231"].vague_h_siginificatif_2 + ' ' + mydata[1]["Zone231"].vague_h_siginificatif_3 + ' ' + mydata[1]["Zone231"].vague_h_siginificatif_4 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][6] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].direction_houle_1 + ' ' + mydata[1]["Zone231"].direction_houle_2 + '</td></tr>';

        // html += '<tr><td>' + list[Lang][7] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].visibilite_de + ' ' + mydata[1]["Zone231"].visibilite_transition + ' ' + mydata[1]["Zone231"].visibilite_a + '</td></tr>';

        // html += '<tr><td>' + list[Lang][8] + '</td>';
        // html += '<td>' + mydata[1]["Zone231"].temps + '</td></tr>';

        // html += '</table>';
        // document.getElementById('table1').innerHTML = html;
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="/MeteoData/BMSFormatWeb.json"></script>

    <script type="text/javascript" src="/js/meteoConfig.js"></script>








    <%- include("../partials/footer"); -%>