<%- include("../partials/header"); -%>
    <style>
        .styles {
            color: red;
        }
    </style>

    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row">

                <div class="col-lg-12">


                    <div class="custom-box">
                        <h3 style="text-align: center;">La Méteo d'aujourd'hui</h3>
                    </div>


                    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12" id="clignot1">
                        <div class="custom-box">
                            <div class="servicetitle">
                                <h3>Prévision</h3>
                                <hr>
                            </div>
                            <br>
                            <p style="font-size: medium;">La prevision d'aujourd'hui</p>
                            <ul class="pricing">
                                <li style="font-size: medium;">information 1</li>
                                <li style="font-size: medium;">information 2</li>
                                <li style="font-size: medium;">information 3</li>
                                <li style="font-size: medium;">information 4</li>
                                <li style="font-size: medium;">information 5</li>
                                <li style="font-size: medium;">information 6</li>
                                <li style="font-size: medium;">information 7</li>
                            </ul>
                            <a href="/meteo/historiqueAujourdhuiPREV" class="btn btn-theme">Historique Prevision D'aujourd'hui</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 styles" id="clignot2">
                        <div class="custom-box">
                            <div class="servicetitle">
                                <h3>BMS</h3>
                                <hr>
                            </div>
                            <br>
                            <p style="font-size: medium;">La BMS d'aujourd'hui</p>
                            <ul class="pricing">
                                <li style="font-size: medium;">information 1</li>
                                <li style="font-size: medium;">information 2</li>
                                <li style="font-size: medium;">information 3</li>
                                <li style="font-size: medium;">information 4</li>
                                <li style="font-size: medium;">information 5</li>
                                <li style="font-size: medium;">information 6</li>
                                <li style="font-size: medium;">information 7</li>
                            </ul>
                            <a href="/meteo/historiqueAujourdhuiBMS" class="btn btn-theme">Attention !! BMS Pour Aujourd'hui</a>
                        </div>
                        <!-- end custombox -->
                    </div>
                    <!-- end col-4 -->

                    <!-- end col-4 -->
                </div>
                <!--  /col-lg-12 -->
            </div>
            <!--  /row -->
        </section>
        <!-- /wrapper -->
    </section>

    <script>
        var timer = setInterval(function() {
            const clignotte2 = document.getElementById('clignot2');

            clignotte2.classList.toggle('styles')
        }, 1000)
    </script>




    <%- include("../partials/footer"); -%>